$white: #fff;
$black: #000;
$primary-color: #8BC53F;
$second-color: #245D3C;
$third-color: #777777;
$fourth-color: #424242;
/* border radius */
$rounded: 10px;
$circle: 999px;
/* end border radius */
/* z-index */
$z-index: ('.overlay' : 998, '.menu-wrapper.active': 999);
/* end z-index */