@import '../base/variable';
@import '../base/commons';
@import '../function/function';
@import '../base';
@include media-breakpoint-down(lg)
{
	.header
	{
		.menu-wrapper
		{
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 45vw;
			height: 100vh;
			background: $black;
			transform: translateY(-100%);
			opacity: 0;
			transition: .5s all ease;
			&.active
			{
				transform: translateX(0);
				opacity: 1;
			}
			li
			{
				a
				{
					padding: rem(10) rem(5);
					background: $primary-color;
					color: $white;
					border-bottom: 1px solid $white;
				}
			}
		}
	}
	.main
	{
		.events
		{
			&__list
			{
				th, td 
				{
					padding: 1.8rem 0;
				}
			}
		}
		.testimontials
		{
			&__slider
			{
				._slider
				{
					&::after
					{
						display: none;
					}
				}
			}
			._navigation
			{
				margin-top: rem(10);
			}
		}
		.media-center
		{
			&__list
			{
				grid-template-areas:
				'item-1 item-3'
				'item-2 item-3'
				'item-5 item-5'
				'item-5 item-5'
				'item-4 item-4'
				'item-4 item-4'
				'item-6 item-7'
				'item-6 item-8';
				grid-gap: 3px;
			}
		}
		.course-event
		{
			&__component
			{
				._times-up
				{
					left: 0;
					top: 0;
				}
				._regis-button
				{
					bottom: 0;
					left: 0;
				}
			}
		}
		.register-event
		{
			padding: 0 rem(15);
		}
		.QA
		{
			&__quest
			{
				&__title, &__content ._title
				{
					font-size:  1.2rem;
				}
				&__content ._content
				{
					font-size: 1rem;
				}

			}
		}
	}
	.footer
	{
		background-repeat: repeat;
	}
}
@include media-breakpoint-down(md)
{
	.main
	{
		.events
		{
			&__list
			{
				th, td 
				{
					padding: 1.5rem 0;
				}
			}
		}
	}
}
@include media-breakpoint-down(sm)
{
	.main
	{
		.events
		{
			&__list
			{
				th, td 
				{
					padding: 1rem 0;
				}
			}
		}
		.register-event
		{
			._label, ._input
			{
				border-radius: 0;
			}
			._label
			{
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
			._input
			{
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}
	}
}